/* body {
  background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
  background-size: 100% calc(100% - 100vh + 5px);
  background-repeat: no-repeat;
}
body::after {
  content: "";
  position: fixed;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: -1;
} */

body {
  position: relative;
}
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right top, teal 50%, transparent 50%) no-repeat;
  background-size: 100% calc(100% - 100vh + 5px);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: darken;
}
.indicator::after {
  content: "";
  position: fixed;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
